<div class="row-fluid">
	<% if user_signed_in? %>
		<big>You're logged in!</big>

	<% else %>
		<div class="hero-unit">

		  	<h1>Eric's One Month Rails Page</h1>
			<p style="margin-top:10px;">
				Nice work learning rails!
				<a href="http://www.onemonthrails.com">One Month Rails</a> is the best.
				<br>
				<%= link_to "Sign Up Now", new_user_registration_path, class:"btn btn-primary btn-large pull-right"%>
			</p>
		</div>
	<% end %>
</div>